* {
  font-family:"Century Gothic";
  color: white;



}

body{
	background: #172d52;
	
}

h1 {
	color:white;	
}	

h2 {
  color:white;	
}	

h3{
color:white;	
}	

img {
	width:400px; 
	height:400px;
	border-radius:50%;
}

header{

	margin-top: 50px;
}

header * {
	display: inline;
}

.imageclass {
	width:360px 
	height:360px;
	border-radius:50%;
}

nav p a {
	text-decoration: none;
	padding-right: 20px;
	border: #ffffff 0.5px double;
	margin: 5px;
}

nav p a:hover {

	border:#f7dfeb 0.5px solid;
}

nav{
	position: fixed;
	background-color: #181818;
	top: 0;
	width: 100%
}


main {
       display:grid;
       grid-template-columns:30% 30% 30%;
       grid-template-rows:30% 30%;
       grid-column-gap:20px;
       grid-row-gap:20px;

}


main section {

	background-color:#606361;
	}

		main section:nth-child(odd){

		background-color:#606361;
		}

#featured-images {
  display:grid;
  grid-template-columns:20%;
 grid-row-gap:20%;
}

.row1 {
text-align center;
}

.row2 {
display:flex;
justify-content:space-around;
}



