x
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');




section.backcover {

background:url(cover1.jpg) no-repeat;
background-size: cover;
margin-left:0;
width:1366px;  
height:768px;
}

  



* {
  font-family: 'Shadows Into Light', cursive;
  color: white;

}


body{
	background: #172d52;
	
}

h1 {
	font-size: 70px;
	color:white;
       	
}	

h2 {
  color:white;	
}	

h3{
color:white;	
}	

img {
	width:200px; 
	height:200px;
	border-radius:50%;
	position: center;
}

header{

	margin-top: 50px;
}

header * {
	display: inline;
}

.imageclass {
	width:360px 
	height:360px;
	border-radius:50%;
}




main {
       display:grid;
       grid-template-columns:30% 30% 30%;
       grid-template-rows:30% 30%;
       grid-column-gap:30px;
       grid-row-gap:30px;
    

}


main section {

	background-color:#606361;

	}

		main section:nth-child(odd){

		background-color:#606361;
    
		}


.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}



.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}




.dropdown {
  float: left;
  overflow: hidden;
}




.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0;}


  .navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red; }



  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}




.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}



.dropdown-content a:hover {
  background-color: #ddd;
}



.dropdown:hover .dropdown-content {
  display: block;
}



#featured-images {
  display:grid;
  grid-template-columns:40%;
 grid-row-gap:40%;
}

.row1 {
text-align center;
}

.row2 {
display:flex;
justify-content:space-around;
}





